.container {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}
a {
  color: $color-navy;
}
body {
  font-family: $font-family;

  .button {
    display: inline-flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    height: $finger-size;
    align-items: flex;
    color: white;
    font-weight: bold;
    background-color: $color-blue;
    border-radius: $border-radius;
  }
}
