$max-width: 1200px;
$gutter: 20px;
$finger-size: 40px;
$border-radius: 3px;
//
$color-navy: #083b87;
$color-blue: #01acee;
$color-soft-blue: #f1f6ff;
//
$font-family: "Open Sans", Arial, sans-serif;
